# netbox container
server {
    listen 80;
    server_name ${NETBOX_FQDN};

    location / {
        set $backend "http://${HOST_ADDRESS}:${NETBOX_PORT}";
        proxy_pass $backend;
        # proxy_set_header X-Forwarded-Host $http_host;
        # proxy_set_header X-Real-IP $remote_addr;
        # proxy_set_header X-Forwarded-Proto $scheme;
    }
    access_log off;
    error_log  /var/log/nginx/error.log error;
}
